<section>
  <div class="container">
    <div class="row">
      <header>
        <div class="col-md-12">
          <div class="hdr_container">
            <h1>Header</h1>
          </div>
        </div>
      </header>

      <main>
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </main>

      <footer>
        <div class="col-md-12">
          <div class="ftr_container">
            <h2>Footer</h2>
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>
