<mat-tab-group>
  <mat-tab label="Claim Status">
    <div *ngFor="let user of userinfo" class="list_item">
      <table class="details_table">
        <tr>
          <td>Patient Name</td>
          <td>
            {{
              user.patientDetails.firstName + ' ' + user.patientDetails.lastName
            }}
          </td>
        </tr>

        <tr>
          <td>Claim Number</td>
          <td>
            {{ user.claimDetails.claimNumber }}
          </td>
        </tr>

        <tr>
          <td>Date Submitted</td>
          <td>
            {{ user.claimDetails.dateSubmitted | date: 'dd/MM/yyyy' }}
          </td>
        </tr>

        <tr>
          <td>Claim Status</td>
          <td>
            <mat-icon
              class="status_icon completed_ico"
              *ngIf="user.claimDetails.claimStatus == 'COMPLETED'"
              >check_circle</mat-icon
            >
            <mat-icon
              class="status_icon cancel_ico"
              *ngIf="user.claimDetails.claimStatus == 'NOT_RECEIVED'"
              >cancel</mat-icon
            >
            <mat-icon
              class="status_icon info_ico"
              *ngIf="
                user.claimDetails.claimStatus == 'ADDITIONAL_INFO_REQUIRED'
              "
              >info</mat-icon
            >
            {{ user.claimDetails.claimStatus }}
          </td>
        </tr>
      </table>
      <a
        aria-label="Route to Details Page"
        routerLink="/claimdetails/{{ user.claimDetails.claimNumber }}"
      >
        <mat-icon
          *ngIf="user.claimDetails.claimStatus !== 'COMPLETED'"
          class="arrow_custom"
          >arrow_forward_ios</mat-icon
        >
      </a>
    </div>
  </mat-tab>

  <mat-tab label="Documents Recived"> <p>Documents Recived</p> </mat-tab>
</mat-tab-group>

<!-- <app-claimdetails></app-claimdetails> -->
