/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-size: 14px;
  line-height: normal;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details_table tr td .mat-icon {
  font-size: 22px;
  height: auto;
  width: auto;
  vertical-align: top;
}

.arrow_custom {
  color: #4e7cce;
}

.completed_ico {
  color: #46c352;
}

.info_ico {
  color: #febb30;
}

.cancel_ico {
  color: #fd0930;
}

.hdr_container,
.ftr_container {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}
