/* Add application styles & imports to this file! */
/*This Import is for Angular Material Style*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/*This Import is for Bootstrap Style*/
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-size: 14px;
  line-height: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Common Style for Header & Footer*/
.hdr_container,
.ftr_container {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}

/*Claim Details and Status Page Style Start Here*/
.details_table tr td .mat-icon {
  font-size: 22px;
  height: auto;
  width: auto;
  vertical-align: top;
}

.arrow_custom {
  color: #4e7cce;
}

.completed_ico {
  color: #46c352;
}

.info_ico {
  color: #febb30;
}

.cancel_ico {
  color: #fd0930;
}

.list_item {
  background-color: #f1f1f1;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e2e2e3;
  display: flex;
  align-items: center;
}

.details_table {
  width: calc(100% - 20px);
}

.details_table tr td {
  padding: 3px;
}

.details_table tr td:first-child {
  font-weight: bold;
  font-size: 13px;
  width: 30%;
}
/*Claim Details and Status Page Style Ends Here*/
