/*For Claimdetails Component Related CSS*/

.claim_details_container {
  padding: 15px 0px;
}

.claim_details_container h5 {
  background-color: rgba(207, 203, 203, 0.322);
  padding: 5px;
  font-size: 18px;
}
